<div class='question list'>
  <h1>Questions asked recently</h1>
  <% @questions.reverse.each do |question| %>
      <strong><a href='/questions/<%= question.id %>'><%= question.title %></a><br></strong>
      <span class='italic'>Question Score: <%= question.votes.reduce(0) {|sum, vote| sum += vote.value } %></span><br>
      <span class='created'>Posted at: <%= question.created_at.strftime("%m-%e-%y %H:%M") %></span><br><br>
  <% end %>
</div>
