<div class='question list'>
  <h1>Questions asked recently</h1>
  <% @questions.reverse.each do |question| %>
      <p><a href='/questions/<%= question.id %>'><%= question.title %></a></p>
      <p>
        <span class='body'><%= question.body %></span>
        <span class='created'><%= question.created_at %></span>
      </p>
  <% end %>
</div>
