<h1>QUESTIONS</h1>
<div class='question list'>
  <% @questions.reverse.each do |question| %>

      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='body'><%= question.body %></span>
        <span class='created'><%= question.created_at %></span>
      </p>

  <% end %>
</div>
