<h1>Create a Question</h1>
  <p> What would you like to ask? </p>
  <form acrtion='/questions' method='POST'>
    <label>title</label>
    <br>
    <input type="text" name="question[title]">
    <br>
    <label>Body</label>
    <br>
    <input type="text" name="question[body]">
    <br>
    <input type="submit" name="Submit">
  </form>
