<div class="new_question">
  <h1 class="lead">Create a Question</h1>
  <p> What would you like to ask? </p>
  <form action='/questions' method='POST'>
    <label>title</label>
    <br>
    <input type="text" name="question[title]">
    <br>
    <label>Body</label>
    <br>
    <input type="text" name="question[body]">
    <br>
    <input type="submit" name="Submit">
  </form>
</div>
