<div class="new_question">
  <h1 class="lead">Create a Question</h1>
  <p> What would you like to ask? </p>
  <form action='/questions' method='POST'>
    <label>title</label>
    <br>
    <textarea type="text" name="question[title]" cols="40"></textarea>
    <br>
    <label>Body</label>
    <br>
    <textarea type="text" name="question[body]" cols="40" rows="5"></textarea>
    <br>
    <input type="submit" name="Submit">
  </form>
</div>
