<h1>User Registration</h1>
  <p> Please Register to access all of our features! </p>
  <div>
    <form action='/users' method='POST'>
      <br>
      <label>Username</label>
      <br>
      <input type="text" name="user[username]">
      <br>
      <label>First Name</label>
      <br>
      <input type="text" name="user[first_name]">
      <br>
      <label>Last Name</label>
      <br>
      <input type="text" name="user[last_name]">
      <br>
      <label>email</label>
      <br>
      <input type="text" name="user[email]">
      <br>
      <label>Password</label>
      <br>
      <input type="password" name="user[hashed_password]">
      <br>
      <input type="submit" name="Submit">
    </form>
  </div>
