<form method="post" action="/questions/:id/answers">

  <label>Answer:</label>
  <!-- param[answer]  -> single answer -->
  <input type="text" id="answer" name="answer[text]">

  <input type="submit" value="Update" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
