<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>BCR Overflow</title>
</head>
<body>
  <div class="logo">
    <a href="/"><img src="/image/bcroverflow-logo.png" style="width:266px;height:98px;"></a>
  </div>
  <div class="nav_bar_layout">
    <nav>
      <ul class = "nav_bar">
        <% if logged_in? %>
          <p>Logged in as: <%= @current_user.username %></p>
          <li class = "nav_items_c"><form action="/users/logout" method="post"><input type="submit" value="Logout"></form></li>
          <li class = "nav_items_c"><a href="/users/profile">account</a></li>
          <li class = "nav_items_c"><a href="/questions/new">ask a question</a></li>
        <% else %>
          <li class = "nav_items_c"><a href="/users/login">login</a></li>
        <li class = "nav_items_c"><a href="/users/new">register</a></li>
        <% end %>
        <li class = "nav_items_c"><a href="/questions">question list</a></li>
      </ul>
    </nav>
  </div>
  <%= yield %>
</body>
</html>
