<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>BCR Overflow</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="navbar-header">
      <a class="navbar-brand" href="/">BCR Overflow</a>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
        <li><a href="/users/profile"><%= @current_user.username %></a></li>
        <li><a href="/questions/new">ask a question</a></li>
        <li><form class="form-inline my-2 my-lg-0" action="/users/logout" method="post"><input class="form-control mr-sm-2" type="submit" value="Logout"></form></li>
        <% else %>
        <li><a href="/users/login">login</a></li>
        <li><a href="/users/new">register</a></li>
        <% end %>
      </ul>
    </div>
    </nav>
  <%= yield %>
</body>
</html>


  <!--  <img src="/image/bcroverflow-logo.png" style="width:266px;height:98px;" class="d-inline-block align-top" alt="">

